<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="logConsoleFilePath">logs/info</Property>
        <Property name="logErrorFilePath">logs/error</Property>
        <Property name="logPattern">[thread_id: %t] || %d{dd MMM yyyy HH:mm:ss} || %-5level || %logger{36} || (%F:%L) || %m%n
        </Property>
    </Properties>
    <Appenders>
        <!-- Console Appender -->
        <Console name="console-log" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
        <!-- Appender สำหรับ Log ระดับ INFO -->
        <RollingFile
                name="info-log"
                fileName="${logConsoleFilePath}/console.log"
                filePattern="${logConsoleFilePath}/console.%d{yyyy-MM-dd}.%i.log"
        >
            <PatternLayout pattern="${logPattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
                <SizeBasedTriggeringPolicy size="50MB"/>
            </Policies>
            <DefaultRolloverStrategy max="200"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="info-log"/>
        </Root>
    </Loggers>
</Configuration>